<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<array>
			<string>阿克苏</string>
			<string>AKU</string>
			<string>akesu</string>
		</array>
		<array>
			<string>阿勒泰</string>
			<string>AAT</string>
			<string>aletai</string>
		</array>
		<array>
			<string>安康</string>
			<string>AKA</string>
			<string>ankang</string>
		</array>
		<array>
			<string>安庆</string>
			<string>AQG</string>
			<string>anqing</string>
		</array>
	</array>
	<key>B</key>
	<array>
		<array>
			<string>包头</string>
			<string>BAV</string>
			<string>baotou</string>
		</array>
		<array>
			<string>保山</string>
			<string>BSD</string>
			<string>baoshan</string>
		</array>
		<array>
			<string>北海</string>
			<string>BHY</string>
			<string>beihai</string>
		</array>
		<array>
			<string>槟城</string>
			<string>PEN</string>
			<string>bincheng</string>
		</array>
	</array>
	<key>C</key>
	<array>
		<array>
			<string>长春</string>
			<string>CGQ</string>
			<string>changchun</string>
		</array>
		<array>
			<string>长海</string>
			<string>CNI</string>
			<string>changhai</string>
		</array>
		<array>
			<string>长治</string>
			<string>CTH</string>
			<string>changzhi</string>
		</array>
		<array>
			<string>常德</string>
			<string>CGD</string>
			<string>changde</string>
		</array>
		<array>
			<string>常州</string>
			<string>CZX</string>
			<string>changzhou</string>
		</array>
		<array>
			<string>朝阳</string>
			<string>CHG</string>
			<string>chaoyang</string>
		</array>
		<array>
			<string>赤峰</string>
			<string>CIF</string>
			<string>chifeng</string>
		</array>
		<array>
			<string>赤塔</string>
			<string>CHT</string>
			<string>chita</string>
		</array>
	</array>
	<key>D</key>
	<array>
		<array>
			<string>达县</string>
			<string>DAX</string>
			<string>daxian</string>
		</array>
		<array>
			<string>大理</string>
			<string>DLU</string>
			<string>dali</string>
		</array>
		<array>
			<string>大同</string>
			<string>DAT</string>
			<string>datong</string>
		</array>
		<array>
			<string>大足</string>
			<string>DZU</string>
			<string>dazu</string>
		</array>
		<array>
			<string>丹东</string>
			<string>DDG</string>
			<string>dandong</string>
		</array>
		<array>
			<string>德州</string>
			<string>DUZ</string>
			<string>dezhou</string>
		</array>
		<array>
			<string>东营</string>
			<string>DOY</string>
			<string>dongying</string>
		</array>
		<array>
			<string>敦煌</string>
			<string>DNH</string>
			<string>dunhuang</string>
		</array>
	</array>
	<key>E</key>
	<array>
		<array>
			<string>恩施</string>
			<string>ENH</string>
			<string>enshi</string>
		</array>
	</array>
	<key>F</key>
	<array>
		<array>
			<string>阜阳</string>
			<string>FUG</string>
			<string>fuyang</string>
		</array>
		<array>
			<string>富蕴</string>
			<string>FYN</string>
			<string>fuyun</string>
		</array>
	</array>
	<key>G</key>
	<array>
		<array>
			<string>赣州</string>
			<string>KOW</string>
			<string>ganzhou</string>
		</array>
		<array>
			<string>格尔木</string>
			<string>GOQ</string>
			<string>geermu</string>
		</array>
		<array>
			<string>光化</string>
			<string>LHK</string>
			<string>guanghua</string>
		</array>
		<array>
			<string>广汉</string>
			<string>GHN</string>
			<string>guanghan</string>
		</array>
		<array>
			<string>广元</string>
			<string>GYS</string>
			<string>guangyuan</string>
		</array>
		<array>
			<string>贵阳</string>
			<string>KWE</string>
			<string>guiyang</string>
		</array>
		<array>
			<string>桂林</string>
			<string>KWL</string>
			<string>guilin</string>
		</array>
	</array>
	<key>H</key>
	<array>
		<array>
			<string>哈尔滨</string>
			<string>HRB</string>
			<string>haerbin</string>
		</array>
		<array>
			<string>哈密</string>
			<string>HMI</string>
			<string>hami</string>
		</array>
		<array>
			<string>海口</string>
			<string>HAK</string>
			<string>haikou</string>
		</array>
		<array>
			<string>海拉尔</string>
			<string>HLD</string>
			<string>hailaer</string>
		</array>
		<array>
			<string>汉中</string>
			<string>HZG</string>
			<string>hanzhong</string>
		</array>
		<array>
			<string>合肥</string>
			<string>HFE</string>
			<string>hefei</string>
		</array>
		<array>
			<string>和田</string>
			<string>HTN</string>
			<string>hetian</string>
		</array>
		<array>
			<string>黑河</string>
			<string>HEK</string>
			<string>heihe</string>
		</array>
		<array>
			<string>衡阳</string>
			<string>HNY</string>
			<string>hengyang</string>
		</array>
		<array>
			<string>呼和浩特</string>
			<string>HET</string>
			<string>huhehaote</string>
		</array>
		<array>
			<string>黄山</string>
			<string>TXN</string>
			<string>huangshan</string>
		</array>
		<array>
			<string>黄岩</string>
			<string>HYN</string>
			<string>huangyan</string>
		</array>
		<array>
			<string>邯郸</string>
			<string>HDG</string>
			<string>handan</string>
		</array>
	</array>
	<key>J</key>
	<array>
		<array>
			<string>吉安</string>
			<string>KNC</string>
			<string>jian</string>
		</array>
		<array>
			<string>吉林</string>
			<string>JIL</string>
			<string>jilin</string>
		</array>
		<array>
			<string>济州</string>
			<string>CJU</string>
			<string>jizhou</string>
		</array>
		<array>
			<string>佳木斯</string>
			<string>JMU</string>
			<string>jiamusi</string>
		</array>
		<array>
			<string>嘉峪关</string>
			<string>JGN</string>
			<string>jiayuguan</string>
		</array>
		<array>
			<string>锦州</string>
			<string>JNZ</string>
			<string>jinzhou</string>
		</array>
		<array>
			<string>晋江</string>
			<string>JJA</string>
			<string>jinjiang</string>
		</array>
		<array>
			<string>井冈山</string>
			<string>JGS</string>
			<string>jinggangshan</string>
		</array>
		<array>
			<string>景德镇</string>
			<string>JDZ</string>
			<string>jingdezhen</string>
		</array>
		<array>
			<string>景洪</string>
			<string>JHG</string>
			<string>jinghong</string>
		</array>
		<array>
			<string>九江</string>
			<string>JIU</string>
			<string>jiujiang</string>
		</array>
		<array>
			<string>九寨沟</string>
			<string>JZH</string>
			<string>jiuzhaigou</string>
		</array>
		<array>
			<string>酒泉</string>
			<string>CHW</string>
			<string>jiuquan</string>
		</array>
	</array>
	<key>K</key>
	<array>
		<array>
			<string>喀什</string>
			<string>KHG</string>
			<string>kashen</string>
		</array>
		<array>
			<string>克拉玛依</string>
			<string>KRY</string>
			<string>kelamayi</string>
		</array>
		<array>
			<string>库尔勒</string>
			<string>KCA</string>
			<string>kuerle</string>
		</array>
		<array>
			<string>库尔勒</string>
			<string>KRL</string>
			<string>kuerle</string>
		</array>
	</array>
	<key>L</key>
	<array>
		<array>
			<string>拉萨</string>
			<string>LXA</string>
			<string>lasa</string>
		</array>
		<array>
			<string>兰州</string>
			<string>LHW</string>
			<string>lanzhou</string>
		</array>
		<array>
			<string>丽江</string>
			<string>LJG</string>
			<string>lijiang</string>
		</array>
		<array>
			<string>连城</string>
			<string>LCX</string>
			<string>liancheng</string>
		</array>
		<array>
			<string>连云港</string>
			<string>LYG</string>
			<string>lianyungang</string>
		</array>
		<array>
			<string>梁平</string>
			<string>LIA</string>
			<string>liangping</string>
		</array>
		<array>
			<string>辽阳</string>
			<string>TGO</string>
			<string>liaoyang</string>
		</array>
		<array>
			<string>林西</string>
			<string>LXI</string>
			<string>linxi</string>
		</array>
		<array>
			<string>临沂</string>
			<string>LYI/LNJ</string>
			<string>linyi</string>
		</array>
		<array>
			<string>荔波</string>
			<string>LLB</string>
			<string>libo</string>
		</array>
		<array>
			<string>柳州</string>
			<string>LZH</string>
			<string>liuzhou</string>
		</array>
		<array>
			<string>庐山</string>
			<string>LUZ</string>
			<string>lushan</string>
		</array>
		<array>
			<string>泸州</string>
			<string>LZO</string>
			<string>luzhou</string>
		</array>
		<array>
			<string>罗定</string>
			<string>LDG</string>
			<string>luoding</string>
		</array>
		<array>
			<string>洛阳</string>
			<string>LYA</string>
			<string>luoyang</string>
		</array>
	</array>
	<key>M</key>
	<array>
		<array>
			<string>满洲里</string>
			<string>NZH</string>
			<string>manzhouli</string>
		</array>
		<array>
			<string>芒市</string>
			<string>LUM</string>
			<string>mangshi</string>
		</array>
		<array>
			<string>梅县</string>
			<string>MXZ</string>
			<string>meixian</string>
		</array>
		<array>
			<string>绵阳</string>
			<string>MIG</string>
			<string>mianyang</string>
		</array>
		<array>
			<string>牡丹江</string>
			<string>MDG</string>
			<string>mudanjiang</string>
		</array>
	</array>
	<key>N</key>
	<array>
		<array>
			<string>南昌</string>
			<string>KHN</string>
			<string>nanchang</string>
		</array>
		<array>
			<string>南宁</string>
			<string>NNG</string>
			<string>nanning</string>
		</array>
		<array>
			<string>南充</string>
			<string>NAO</string>
			<string>nanchong</string>
		</array>
		<array>
			<string>南通</string>
			<string>NTG</string>
			<string>nantong</string>
		</array>
		<array>
			<string>南阳</string>
			<string>NNY</string>
			<string>nanyang</string>
		</array>
		<array>
			<string>宁波</string>
			<string>NGB</string>
			<string>ningbo</string>
		</array>
	</array>
	<key>P</key>
	<array>
		<array>
			<string>攀枝花</string>
			<string>PZI</string>
			<string>panzhihua</string>
		</array>
	</array>
	<key>Q</key>
	<array>
		<array>
			<string>齐齐哈尔</string>
			<string>NDG</string>
			<string>qiqihaer</string>
		</array>
		<array>
			<string>且末</string>
			<string>IQM</string>
			<string>qiemo</string>
		</array>
		<array>
			<string>秦皇岛</string>
			<string>SHP</string>
			<string>qinhuangdao</string>
		</array>
		<array>
			<string>庆阳</string>
			<string>IQN</string>
			<string>qingyang</string>
		</array>
	</array>
	<key>S</key>
	<array>
		<array>
			<string>沙市</string>
			<string>SHS</string>
			<string>shashi</string>
		</array>
		<array>
			<string>汕头</string>
			<string>SWA</string>
			<string>shantou</string>
		</array>
		<array>
			<string>沈阳</string>
			<string>SHE</string>
			<string>shenyang</string>
		</array>
		<array>
			<string>石家庄</string>
			<string>SJW</string>
			<string>shijiazhuang</string>
		</array>
		<array>
			<string>思茅</string>
			<string>SYM</string>
			<string>simao</string>
		</array>
	</array>
	<key>T</key>
	<array>
		<array>
			<string>通辽</string>
			<string>TGO</string>
			<string>tongliao</string>
		</array>
		<array>
			<string>塔城</string>
			<string>TCG</string>
			<string>tacheng</string>
		</array>
		<array>
			<string>塔什干</string>
			<string>TAS</string>
			<string>tashengan</string>
		</array>
		<array>
			<string>太原</string>
			<string>TYN</string>
			<string>taiyuan</string>
		</array>
		<array>
			<string>铜仁</string>
			<string>TEN</string>
			<string>tongren</string>
		</array>
		<array>
			<string>屯溪</string>
			<string>TXN</string>
			<string>tunxi</string>
		</array>
	</array>
	<key>W</key>
	<array>
		<array>
			<string>万县</string>
			<string>WXN</string>
			<string>wanxian</string>
		</array>
		<array>
			<string>威海</string>
			<string>WEH</string>
			<string>weihai</string>
		</array>
		<array>
			<string>潍坊</string>
			<string>WEF</string>
			<string>weifang</string>
		</array>
		<array>
			<string>梧州</string>
			<string>WUZ</string>
			<string>wuzhou</string>
		</array>
		<array>
			<string>温州</string>
			<string>WNZ</string>
			<string>wenzhou</string>
		</array>
		<array>
			<string>乌兰浩特</string>
			<string>HLH</string>
			<string>wulanhaote</string>
		</array>
		<array>
			<string>乌鲁木齐</string>
			<string>URC</string>
			<string>wulumuqi</string>
		</array>
		<array>
			<string>无锡</string>
			<string>WUX</string>
			<string>wuxi</string>
		</array>
		<array>
			<string>武夷山</string>
			<string>WUS</string>
			<string>wuyishan</string>
		</array>
	</array>
	<key>X</key>
	<array>
		<array>
			<string>西昌</string>
			<string>XIC</string>
			<string>xichang</string>
		</array>
		<array>
			<string>西宁</string>
			<string>XNN</string>
			<string>xining</string>
		</array>
		<array>
			<string>锡林浩特</string>
			<string>XIL</string>
			<string>xilinhaote</string>
		</array>
		<array>
			<string>西双版纳</string>
			<string>JHG</string>
			<string>xishuangbanna</string>
		</array>
		<array>
			<string>襄樊</string>
			<string>XFN</string>
			<string>xiangfan</string>
		</array>
		<array>
			<string>兴城</string>
			<string>XEN</string>
			<string>xingcheng</string>
		</array>
		<array>
			<string>兴宁</string>
			<string>XIN</string>
			<string>xingning</string>
		</array>
		<array>
			<string>兴义</string>
			<string>XYN</string>
			<string>xingyi</string>
		</array>
		<array>
			<string>香格里拉</string>
			<string>DIG</string>
			<string>xianggelila</string>
		</array>
		<array>
			<string>徐州</string>
			<string>XUZ</string>
			<string>xuzhou</string>
		</array>
	</array>
	<key>Y</key>
	<array>
		<array>
			<string>烟台</string>
			<string>YNT</string>
			<string>yantai</string>
		</array>
		<array>
			<string>延安</string>
			<string>ENY</string>
			<string>yanan</string>
		</array>
		<array>
			<string>延吉</string>
			<string>YNJ</string>
			<string>yanji</string>
		</array>
		<array>
			<string>盐城</string>
			<string>YNZ</string>
			<string>yancheng</string>
		</array>
		<array>
			<string>伊兰</string>
			<string>YLN</string>
			<string>yilan</string>
		</array>
		<array>
			<string>伊宁</string>
			<string>YIN</string>
			<string>yining</string>
		</array>
		<array>
			<string>伊林</string>
			<string>YIN</string>
			<string>yilin</string>
		</array>
		<array>
			<string>宜宾</string>
			<string>YBP</string>
			<string>yibin</string>
		</array>
		<array>
			<string>宜昌</string>
			<string>YIH</string>
			<string>yichang</string>
		</array>
		<array>
			<string>义乌</string>
			<string>YIW</string>
			<string>yiwu</string>
		</array>
		<array>
			<string>银川</string>
			<string>INC</string>
			<string>yinchuan</string>
		</array>
		<array>
			<string>永州</string>
			<string>LLF</string>
			<string>yongzhou</string>
		</array>
		<array>
			<string>榆林</string>
			<string>UYN</string>
			<string>yulin</string>
		</array>
		<array>
			<string>运城</string>
			<string>YUC</string>
			<string>yuncheng</string>
		</array>
	</array>
	<key>Z</key>
	<array>
		<array>
			<string>浙江</string>
			<string>JUZ</string>
			<string>zhejiang</string>
		</array>
		<array>
			<string>湛江</string>
			<string>ZHA</string>
			<string>zhanjiang</string>
		</array>
		<array>
			<string>张家界</string>
			<string>DYG</string>
			<string>zhangjiajie</string>
		</array>
		<array>
			<string>昭通</string>
			<string>ZAT</string>
			<string>zhaotong</string>
		</array>
		<array>
			<string>芷江</string>
			<string>HJJ</string>
			<string>zhijiang</string>
		</array>
		<array>
			<string>舟山</string>
			<string>HSN</string>
			<string>zhoushan</string>
		</array>
		<array>
			<string>珠海</string>
			<string>ZUH</string>
			<string>zhuhai</string>
		</array>
	</array>
	<key>热门</key>
	<array>
		<array>
			<string>北京</string>
			<string>PEK</string>
			<string>beijing</string>
		</array>
		<array>
			<string>上海</string>
			<string>SHA</string>
			<string>shanghai</string>
		</array>
		<array>
			<string>广州</string>
			<string>CAN</string>
			<string>guangzhou</string>
		</array>
		<array>
			<string>深圳</string>
			<string>SZX</string>
			<string>shenzhen</string>
		</array>
		<array>
			<string>成都</string>
			<string>CTU</string>
			<string>chengdu</string>
		</array>
		<array>
			<string>杭州</string>
			<string>HGH</string>
			<string>hangzhou</string>
		</array>
		<array>
			<string>武汉</string>
			<string>WUH</string>
			<string>wuhan</string>
		</array>
		<array>
			<string>西安</string>
			<string>XIY</string>
			<string>xian</string>
		</array>
		<array>
			<string>重庆</string>
			<string>CKG</string>
			<string>chongqing</string>
		</array>
		<array>
			<string>青岛</string>
			<string>TAO</string>
			<string>qingdao</string>
		</array>
		<array>
			<string>长沙</string>
			<string>CSX</string>
			<string>changsha</string>
		</array>
		<array>
			<string>南京</string>
			<string>NKG</string>
			<string>nanjing</string>
		</array>
		<array>
			<string>厦门</string>
			<string>XMN</string>
			<string>xiamen</string>
		</array>
		<array>
			<string>昆明</string>
			<string>KMG</string>
			<string>kunming</string>
		</array>
		<array>
			<string>大连</string>
			<string>DLC</string>
			<string>dalian</string>
		</array>
		<array>
			<string>天津</string>
			<string>TSN</string>
			<string>tianjin</string>
		</array>
		<array>
			<string>郑州</string>
			<string>CGO</string>
			<string>zhengzhou</string>
		</array>
		<array>
			<string>三亚</string>
			<string>SYX</string>
			<string>sanya</string>
		</array>
		<array>
			<string>济南</string>
			<string>TNA</string>
			<string>jinan</string>
		</array>
		<array>
			<string>福州</string>
			<string>FOC</string>
			<string>fuzhou</string>
		</array>
	</array>
</dict>
</plist>
